/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* --------------------------------- ტექნიკური სტილები ------------------------ */
.container-block {
    height: 100%;
    overflow: hidden;
}

.wraper {
    width: 80%;
    margin: 0 auto;
}

:root {
    --blue: #3A3D72;
    --pink: #E6007E;
    --beige: #F9F6F1;
    --black: #000;
    --white: #fff;
}

body {
    padding-top: 60px;

}

.section {
    width: 100%;
}

/* burger menu */

.toggle-menu {
    position: fixed;
    top: 2vw;
    right: 2vw;
    width: 30px;
    height: 50px;
    cursor: pointer;
    display: none;
    z-index: 100;
}

.line {
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: var(--pink);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.line1 {
    top: 30%;
}

.line3 {
    top: 70%;
}

.active .line1 {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.active .line2 {
    display: none;
}

.active .line3 {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.nav-list.toggle {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: var(--beige);
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px 0;
}

/* ----------------------header--------------------- */
.header {
    width: 100%;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.header-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0;
}

.logo {
    width: 10vw;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.7vw;
}

.nav-link {
    font-family: 'BPG Nino Mtavruli Bold';
    font-size: 1.1vw;
    line-height: 125%;
    color: var(--blue);

}

.mail-to,
.phone {
    font-family: 'Poppins';
    font-size: 1vw;
    line-height: 125%;
    color: var(--blue);
    font-weight: 600;

}

.nav-link:last-child {
    font-family: 'Poppins';
    font-weight: 600;
}

.head-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--pink);
    font-size: 1.1vw;
    line-height: 125%;
    gap: 1vw;
}

.mail,
.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5vw;
}

/* -----------------------------------------------sec-1---------------------------------------- */
.sec-1 {
    background: rgba(0, 0, 0, 0.5)url("../images/cover-bg.jpg");
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 10vw 0;
}

.section-1 {
    margin: 0 auto;
    padding-top: 2vw;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 40px;

}

.title-main {
    font-family: 'BPG Nino Medium Caps';
    font-weight: 600;
    font-size: 2.7vw;
    line-height: 150%;
    text-align: center;
    color: var(--white);
}

.subtitle-main {
    font-family: 'BPG Nino Medium Caps';
    font-weight: 500;
    font-size: 1.1vw;
    text-align: center;
    color: var(--white);

}

.btn-main {
    font-family: 'BPG Nino Mtavruli Bold';
    font-weight: 500;
    font-size: 1.1vw;
    text-align: center;
    padding: 25px 45px;
    border: solid;
    border-radius: 8px;
    color: var(--white);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* ------------------------section2--------------------------- */

.sec-2 {
    width: 100%;
}

.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8vw;
    padding-bottom: 5vw;
    padding-top: 3vw;

}

.ourservices,
.news-title {
    font-family: 'BPG Nino Mtavruli Bold';
    font-size: 3vw;
    font-weight: 500;
    line-height: 120%;
    color: var(--blue);
    padding-top: 5vw;
    text-align: center;

}

.ourservices::after {
    content: url(../images/wave-blue.svg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.news-title::after {
    content: url(../images/wave-blue.svg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3vw;
}

.service img {
    max-width: 40vw;
}

.service-title {
    font-family: 'BPG Nino Medium Caps';
    font-size: 1.5vw;
    line-height: 150%;
    color: var(--blue);
    font-weight: 800;
}

.service-title::after {
    content: url(../images/wave-pink.svg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;


}

.s-list {
    font-family: 'BPG Nino Medium Caps';
    font-weight: 600;
    font-size: 1.1vw;
    line-height: 150%;
    color: var(--black);
    text-align: left;
    margin-top: 0.7vw;
}

.s-list:last-child {
    margin-bottom: 2vw;
}

.s-list::before {
    content: url(../images/vector.svg);
    margin-right: 0.5vw;

}

.btn-standart {
    font-family: 'BPG Nino Medium Caps';
    font-weight: 600;
    font-size: 1.1vw;
    padding: 8px 18px;
    border: solid;
    border-color: var(--blue);
    border-radius: 8px;
    line-height: 150%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: var(--blue);

}

/* ---------------------section3-------------------------- */
.sec-3 {
    background-color: var(--blue);
    width: 100%;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 5vw;
}

.title-about {
    font-family: 'BPG Nino Mtavruli Bold';
    font-size: 3vw;
    font-weight: 500;
    line-height: 120%;
    color: var(--white);
    margin-top: 8vw;
    text-align: center;

}

.title-about::after {
    content: url(../images/wave-white.svg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 3vw;

}

.text-about {
    max-width: 774px;
    font-family: 'BPG Nino Medium Caps';
    font-weight: 500;
    font-size: 1.1vw;
    line-height: 150%;
    color: var(--white);

}

.tuto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3.5vw;
    margin-top: 5.5vw;
}

.tuto img {
    width: 30vw;
    border-radius: 20px;

}

.tuto-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 5vw;
}

.speach {
    max-width: 774px;
    font-family: 'BPG Nino Medium Caps';
    font-weight: 500;
    font-size: 1.1vw;
    line-height: 150%;
    color: var(--white);
}

.signiture {
    font-family: 'BPG Nino Mtavruli Bold';
    font-weight: 600;
    font-size: 1vw;
    line-height: 150%;
    color: var(--white);
    text-decoration: underline;
}

/* ------------------------------sec-4----------------------------- */
.sec-4 {
    background-color: var(--beige);
    padding-bottom: 5vw;
}

.grid {
    padding-top: 5vw;
    display: -ms-grid;
    display: grid;
    width: 80%;
    grid-gap: 5vw;
    -ms-grid-columns: auto 5vw auto 5vw auto;
    grid-template-columns: auto auto auto;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.grid-item {
    background-color: var(--white);
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


.card-img {
    display: block;
    width: 100%;
    height: 15vw;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-content {
    padding: 2vw;
}

.card-header {
    font-family: 'BPG Nino Mtavruli Bold';
    font-weight: 700;
    font-size: 1.2vw;
    line-height: 150%;
    color: var(--blue);
    margin-top: 1vw;
}

.card-text {
    margin-top: 1vw;
    font-family: 'BPG Nino Medium Caps';
    font-weight: 700;
    font-size: 0.9vw;
    line-height: 150%;
    color: var(--blue);
}

.card-btn {
    margin-top: 1vw;
    display: block;
    width: 100%;
    font-family: 'BPG Nino Medium Caps';
    font-weight: 600;
    font-size: 1.1vw;
    padding: 8px 18px;
    border: solid;
    border-color: var(--blue);
    border-radius: 8px;
    line-height: 150%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: var(--blue);
    cursor: pointer;
}

.card-btn span {
    margin-left: 0.5vw;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}


/* -----------------------------section5------------------------------ */
.sec-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form {
    margin-top: 3vw;
    padding-bottom: 3vw;
}

.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 10%;
}

.input-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5vw;
    margin-bottom: 1vw;
}

.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 0.5vw;
    font-family: 'BPG Nino Medium Caps';
    font-weight: 400;
    color: var(--blue);
}

input {
    border: solid var(--beige);
    border-radius: 8px;
    max-width: 200px;
    height: 30px;

}

.input-group ::-webkit-input-placeholder {
    color: var(--blue);
    opacity: 0.6;
    font-family: 'BPG Nino Medium Caps';
    font-weight: 600;

}

.input-group ::-moz-placeholder {
    color: var(--blue);
    opacity: 0.6;
    font-family: 'BPG Nino Medium Caps';
    font-weight: 600;

}

.input-group :-ms-input-placeholder {
    color: var(--blue);
    opacity: 0.6;
    font-family: 'BPG Nino Medium Caps';
    font-weight: 600;

}

.input-group ::-ms-input-placeholder {
    color: var(--blue);
    opacity: 0.6;
    font-family: 'BPG Nino Medium Caps';
    font-weight: 600;

}

.input-group ::placeholder {
    color: var(--blue);
    opacity: 0.6;
    font-family: 'BPG Nino Medium Caps';
    font-weight: 600;

}

.input-textarea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 0.5vw;
    font-family: 'BPG Nino Medium Caps';
    font-weight: 400;
    color: var(--blue);

}

.textarea {
    width: 350px;
    resize: none;
    border: solid var(--beige);
    border-radius: 8px;
    height: 150px;
}

.submit {
    margin-top: 1vw;
    color: var(--blue);
    font-family: 'BPG Nino Medium Caps';
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.map {
    position: relative;
    width: 50vw;
}

.map-pointer {
    position: absolute;
    z-index: 0.5;
    bottom: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    color: var(--white);
    border-radius: 8px;
    text-decoration: underline;

}





/* -------------section6---------slider-------------------------- */
.sec-6 {
    padding-bottom: 5vw;
    background-color: var(--beige);
}

.slick-slider {
    min-width: 0;
    margin: 0 auto;

}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.slider {
    position: relative;
    padding: 0px 60px;
    margin-top: 3vw;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -60px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
    color: var(--blue);
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../images/sl-arrow_l.svg') 0 0 / 100% no-repeat;
    border: 0;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url('../images/sl-arrow_r.svg') 0 0 / 100% no-repeat;
    border: 0;
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}


.slider__item {
    padding: 0px 15px;
}

.slider__item img {
    max-width: 100%;
}

.slider .slick-dots {
    margin-top: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 5px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: var(--blue);
    border-radius: 50%;
    border: 0;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1.5px solid var(--blue);
}

/* ---------------------------------------FAQ------------------------------------ */
.sec-7 {
    width: 100%;
}

.faq {
    padding: 5vw 0;
    margin: 0 auto;
    width: 70%;
}

.question button {
    font-family: 'BPG Nino Mtavruli Bold';
    width: 100%;
    background-color: var(--beige);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5vw;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1.5vw;
    color: var(--blue);
    font-weight: 500;
    cursor: pointer;
    text-align: left;

}

.question button:not(:last-child) {
    margin-bottom: 1vw;
}

.question p {
    font-family: 'BPG Nino Medium Caps';
    font-size: 1.5vw;
    font-weight: 600;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.d-arrow {
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.question p.show {
    color: var(--blue);
    max-height: 200px;
    opacity: 1;
    padding: 0px 15px 15px;
}

.question button .d-arrow.rotate {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* ---------------------------------footer---------------------- */

.footer-main {
    width: 100%;
    background-color: var(--blue);
    padding: 5vw 0;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 4vw;
}

.footer-mail,
.footer-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--pink);
    gap: 2vw;
    font-family: 'Poppins';
    font-size: 1.5vw;
}

.footer-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 4vw;
}

._info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 4vw;
}

.info-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-family: 'BPG Nino Medium Caps';
    font-weight: 500;
    color: var(--white);
    font-size: 2vw;


}

.mail-to-footer,
.phone-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: var(--white);
    font-size: 1.3vw;
    line-height: 125%;
    gap: 4vw;

}

.footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-family: 'BPG Nino Medium Caps';
    font-weight: 500;
    color: var(--white);
    font-size: 1.3vw;



}

.soc-media-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2vw;
}

.icons {
    color: var(--white);
    font-size: 1.5vw;
}

.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4vw;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.copy {
    font-family: 'BPG Nino Medium Caps';
    font-weight: 500;
    color: var(--white);
    font-size: 1.7vw;
}

/* -------------------hover------------ */
.btn-main:hover {
    background-color: var(--white);
    color: var(--black);
}

.mail:hover {
    text-decoration: underline;
}

.phone:hover {
    text-decoration: underline;
}

.nav-link:hover {
    color: var(--pink);
}

.btn-standart:hover {
    background-color: var(--blue);
    color: var(--white);
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.grid-item:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-box-shadow: 3px 3px 12px #3A3D72;
    box-shadow: 3px 3px 12px #3A3D72;
}

.card-btn:hover {
    background-color: var(--blue);
    color: var(--white);
}

.card-btn:hover span,
.card-btn:active span {
    margin-left: 1vw;
}

.card-header:hover {
    text-decoration: underline;
}

.submit:hover {
    background-color: var(--blue);
    color: var(--white);

}

.footer-link:hover {
    text-decoration: underline;

}